@media (min-width: 992px) {
    #wrapwrap > header .tp-header-box .tp-account-info .my_cart_quantity {
        top: -15px !important;
        left: 20px !important;
    }
}


.search_custom {
    border-end-end-radius: 0;
}

.button_search_custom {
    border-start-start-radius: 0;
}