.btn-search-custom {
    background-color: #FF931E !important;
    border: none !important;
    color: white !important;
    width: 110px;
    height: 100% !important; /* Igual altura que el input */
    z-index: 10 !important; /* evita que se oculte cuando haces click */
}

.btn-search-custom:hover {
    background-color: #FFAE4D !important;
}

input[type="search"].rounded-pill {
    padding-left: 20px;
    padding-right: 120px !important; /* espacio para el botón */
}